section {
  width: 50%;
  background-color: palevioletred;
  margin: auto;
  padding: 60px;
}
section p {
  font-size: 20pt;
  text-decoration: underline;
  text-transform: uppercase;
}
section img {
  width: 300px;
  height: 400px;
}
